{% extends "base.html" %}
{% load i18n %}
{% load humanize %}

{% block content %}
<div class="th-content">
  <h1 class="page-header">{% trans 'My Account' %}</h1>

  <div class="row">
    <div class="col-md-3">
      <ul class="nav nav-pills nav-stacked">
        <li class="{% block account_nav_email %}{% endblock %}">
          <a href="{% url 'account_email' %}">{% trans 'E-mail Addresses' %}</a>
        </li>
        <li class="{% block account_nav_change_password %}{% endblock %}">
          <a href="{% url 'account_change_password' %}">{% trans 'Change Password' %}</a>
        </li>
        {% url 'socialaccount_connections' as connections_url %}
        {% if connections_url %}
        <li class="{% block account_nav_socialaccount_connections %}{% endblock %}">
          <a href="{{ connections_url}}">{% trans 'Connected Accounts' %}</a>
        </li>
        {% endif %}
      </ul>
    </div>
    <div class="col-md-9">
      {% block account_content %}
      {% endblock %}
    </div>
  </div>
</div>
{% endblock %}
