<a href="#" class="list-group-item">
    <h6 class="list-group-item-heading">
    <b>{{ match.match_datetime|date:"d/m/Y H:i" }}</b> <span class="pull-right"><em>{{ match.location }}</em></span></h6>
    <h5 class="list-group-item-heading">{% if match.is_home_win %}<span class="text-success"><b>{% endif %}
    {{ match.home_team.display_name }}{% if match.is_home_win %}</b></span>{% endif %} - {% if match.is_away_win %}<span class="text-success"><b>{% endif %}{{ match.away_team.display_name }}{% if match.is_away_win %}</b></span>{% endif %}
    <span class="pull-right">{% if match.is_future %} <span class="label label-info">In {{ match.match_datetime|timeuntil }}</span>
    {% else %}{{ match.display_result }}
    {% endif %}
    </span>
    </h5>
</a>