{% extends "base.html" %}
{% block title %}Club: {{ club.name }}{% endblock %}
{% block active_club %}active{% endblock %}

{% block content %}
<div id="header-box" class="th-content">
    <div class="row">
        <div class="col-sm-3 col-md-2">
            <div class="text-center">
                <img class="img-logo" src="{{ club.logo_url }}" alt="{{ club.name }} logo">
            </div>
        </div>
        <div class="col-sm-9 col-md-10">
            <h1>{{ club.name }} <small>({{ club.country.name }})</small></h1>
            <form action="{% url 'data:club_love' club.id %}" method="post" id="follow_form">
                {% include "data/_form_love.html" %}
            </form>
        </div>
    </div>
</div>
<div class="th-navbar">
    <div class="btn-toolbar">
        <div class="btn-group btn-group-sm">
            <a class="btn btn-link {% block active_home %}{% endblock %}" href="{{ club.get_absolute_url }}"><i class="fa fa-home fa-fw"></i> Home</a>
            <a class="btn btn-link {% block active_matches %}{% endblock %}" href="{% url 'data:club_matches' pk=club.id %}"><i class="fa fa-calendar fa-fw"></i> Matches</a>
            <a class="btn btn-link {% block active_team %}{% endblock %}" href="{% url 'data:club_team' pk=club.id %}"><i class="fa fa-group fa-fw"></i> Team</a>
        </div>
    </div>
</div>

{% block specific %}{% endblock %}
{% endblock content %}