{% extends "base.html" %}
{% block title %}Club: {{ club.name }}{% endblock %}
{% block active_club %}active{% endblock %}

{% block content %}

<div id="header-box">
    <div class="row">
        <div class="col-md-2">
            <img class="img-logo img-responsive" src="{{ club.logo_url }}" alt="{{ club.name }} logo">
        </div>
        <div class="col-md-8">
            <h1>{{ club.name }} <small>{{ club.country }}</small></h1>
        </div>
    </div>
    <div class="top-button-bar">
        {% include "data/club_love.html" %}
    </div>
    <div class="bottom-button-bar">
        {% block under_nav %}{% endblock %}
    </div>
</div>

{% block specific %}{% endblock %}
{% endblock content %}
{% block extra_script %}{% endblock %}