{% extends "base.html" %}
{% load staticfiles util_tags %}

{% block title %}{{ player.full_name }}{% endblock %}
{% block extra_head_prefix %}profile: http://ogp.me/ns/profile#{% endblock %}
{% block head_meta %}
<link rel="canonical" href="{{ player.get_canonical_url|full_url:request }}">
<meta property="og:url" content="{{ player.get_canonical_url|full_url:request }}" />
<meta property="og:type" content="profile" />
<meta property="og:title" content="{{ player.full_name }}" />
<meta property="og:description" content="{{ player.full_name }} is a handball player{% if player.country %} from {{ player.country.name }}{% endif %}" />
{% if player.has_photo %}<meta property="og:image" content="{{ player.photo.url|full_url:request }}" />{% endif %}
<meta property="profile:first_name" content="{{ player.first_name }}">
<meta property="profile:last_name" content="{{ player.last_name }}">
<meta property="profile:gender" content="female">
{% endblock %}

{% block active_player %}active{% endblock %}

{% block content %}
<div id="header-box" class="th-content">
    <div class="row">
        <div class="col-sm-3 col-md-2">
            <img class="img-person img-responsive" src="{{ player.photo_url }}" alt="{{ player.full_name }}">
        </div>
        <div class="col-sm-9 col-md-10">
            <h1>{{ player.full_name }} <small>({{ player.country.name }})</small></h1>
            <form action="{% url 'data:player_love' player.id %}" method="post" id="follow_form">
                {% include "data/_form_love.html" %}
            </form>
        </div>
    </div>
</div>
<div class="text-center">
    <div class="btn-group">
        <a class="btn btn-default {% block active_home %}{% endblock %}" href="{{ player.get_absolute_url }}"><i class="fa fa-home"></i> Home</a>
        <a class="btn btn-default {% block active_matches %}{% endblock %}" href="{% url 'data:player_matches' player.id %}"><i class="fa fa-calendar"></i> Matches</a>
    </div>
</div>
<div class="th-content">
{% block specific %}{% endblock %}
</div>
{% endblock content %}