{% extends "base.html" %}
{% block title %}Competition: {{ competition.name }}{% endblock %}
{% block active_comp %}active{% endblock %}

{% block content %}

<div id="header-box" class="th-content">
	<div class="row">
        <div class="col-sm-3 col-md-2">
            <div class="text-center">
                <img class="img-logo" src="{{ competition.logo_url }}" alt="{{ competition.name }} logo">
            </div>
        </div>
        <div class="col-sm-9 col-md-10">
            <h1>{{ competition.name }}{% if competition.country %} <small>({{ competition.country.name }})</small>{% endif %}</h1>
            <ul class="list-inline h4">
                <li><span class="label label-info"><i class="fa fa-map-marker"></i> {% if competition.is_international %}International{% else %}{{ competition.country.name }}{% endif %}</span></li>
                {% if competition.level %}<li><span class="label label-info"><i class="fa fa-trophy"></i> Level {{ competition.level }}</span></li>{% endif %}
                {% if competition.website %}<li><a class="label label-info" target="_blank" href="{{ competition.website }}"><i class="fa fa-external-link"></i> Official website</a></li>{% endif %}
            </ul>
        </div>
    </div>
</div>
<div class="text-center">
    <div class="btn-group">
        <a class="btn btn-default {% block active_home %}{% endblock %}" href="{{ competition.get_absolute_url }}"><i class="fa fa-home fa-fw"></i> Home</a>
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle {% block active_seasons %}{% endblock %}" data-toggle="dropdown">
                <i class="fa fa-calendar fa-fw"></i> Seasons <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                {% for s in competition.seasons.all %}
                <li><a href="{% url 'data:comp_season' comp_id=competition.id year=s.year_from %}">{{ s.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% block specific %}{% endblock %}
{% endblock content %}
{% block extra_script %}{% endblock %}