{% extends "data/base_club.html" %}
{% block active_info %}active{% endblock %}

{% block under_nav %}
    <form action="{% url 'data:club_love' club.id %}" method="post" id="follow_form">
        {% csrf_token %}
        {% if fan %}
            <input type="hidden" name="choice" id="choice" value="unfollow" />
            <button id="submit_follow" type="submit" class="btn btn-default btn-sm">
                <span id="icon" class="unfollow"></span> Unfollow <small>({{ club.fans.count }} fans)</small>
            </button>
        {% else %}
            <input type="hidden" name="choice" id="choice" value="follow" />
            <button id="submit_follow" type="submit" class="btn btn-default btn-sm">
                <span id="icon" class="follow"></span> Follow <small>({{ club.fans.count }} fans)</small>
            </button>
        {% endif %}
    </form>
{% endblock %}

{% block specific %}
<div class="row">
    <div class="col-md-10">
        <div class="row" id="info">
            <div class="col-md-4">
                <strong>Also known as</strong>
                <ul class="list-unstyled">
                    {% for clubname in club.clubname_set.all %}
                    <li>{{ clubname.season }} - {{ clubname.name }}</li>
                    {% empty %}
                    <li>No alternative names found.</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-4">
                <address>
                    <strong>Address</strong><br>
                    {% for line in club.address_lines %}
                    {{ line }}<br>
                    {% empty %}
                    Address unknown.
                    {% endfor %}
                </address>
                <address>
                    <strong>Online</strong><br>
                    <a href="{{ club.website }}">{{ club.website }}</a><br>
                    <a href="{{ club.twitter }}">{{ club.twitter }}</a><br>
                    <a href="{{ club.facebook }}">{{ club.facebook }}</a>
                </address>
            </div>
            <div class="col-md-4">
                <div id="map_canvas" class="thumbnail">{% if not club.address_lines %}Sorry, cannot show map without an address.{% endif %}</div>
            </div>
        </div> <!-- end row info -->
        <img class="center-block" style="margin-bottom: 10px;" src="http://placehold.it/728x90">
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ club.name }}'s Matches</h3>
                    </div>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Season</th>
                                <th>Comp.</th>
                                <th>Stage</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>2013/14</td>
                                <td>EHF Champions League</td>
                                <td><a href="#">Main Round</a></td>
                            </tr>
                            <tr>
                                <td>2013/14</td>
                                <td>EHF Cup Winners' Cup</td>
                                <td><a href="#">Semifinals</a></td>
                            </tr>
                            <tr>
                                <td>2012/13</td>
                                <td>EHF Champions League</td>
                                <td><a href="#">Main Round</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Related Clubs</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="media-list">
                            <li class="media">
                                <a class="pull-left" href="#"><img class="media-object" src="http://placehold.it/64x64" alt="..."></a>
                                <div class="media-body">
                                    <h4 class="media-heading">Media heading</h4>
                                    lalalala
                                </div>
                            </li>
                            <li class="media">
                                <a class="pull-left" href="#"><img class="media-object" src="http://placehold.it/64x64" alt="..."></a>
                                <div class="media-body">
                                    <h4 class="media-heading">Media heading</h4>
                                    lalalala
                                </div>
                            </li>
                            <li class="media">
                                <a class="pull-left" href="#"><img class="media-object" src="http://placehold.it/64x64" alt="..."></a>
                                <div class="media-body">
                                    <h4 class="media-heading">Media heading</h4>
                                    lalalala
                                </div>
                            </li>
                            <li class="media">
                                <a class="pull-left" href="#"><img class="media-object" src="http://placehold.it/64x64" alt="..."></a>
                                <div class="media-body">
                                    <h4 class="media-heading">Media heading</h4>
                                    lalalala
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <img src="http://placehold.it/160x600">
    </div>
</div>
{% endblock %}

{% block extra_script %}
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script>
    var geocoder, map;

    function codeAddress(address) {
        geocoder = new google.maps.Geocoder();
        geocoder.geocode({
            'address': address
        }, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                var myOptions = {
                    zoom: 8,
                    center: results[0].geometry.location,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                }
                map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });
            }
        });
    }
    google.maps.event.addDomListener(window, 'load', codeAddress("{{ club.address }}"));
</script>
{% endblock %}
