{% extends "base.html" %}
{% block title %}Club index{% endblock %}
{% block active_club %}active{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Clubs</h1>
        <p>We currently have {{ club_list|length }} clubs in our database. You can search by club name or browse by country or initial.</p>
    </div>
    
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <form action="" method="get">
                <div class="input-group input-group-lg">
                    <input type="text" class="form-control" id="searchName" name="name" placeholder="What are you looking for?">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">Search!</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    
    <div id="search_results">
        <p>{{ club_list|length }} results for <i>{{ request.GET.name }}</i></p>
    </div>

    {% regroup club_list by country as country_list %}
    <div class="list-group">
        {% for country in country_list %}
        <a href="#" class="list-group-item active">{{ country.grouper }} <span class="badge">{{ country.list|length }}</a>
        <div class="list-group">
            {% for club in country.list %}
            <a href="{{ club.get_absolute_url }}" class="list-group-item">
                <h4 class="list-group-item-heading">{{ club.name }}</h4>
                <img class="img-responsive" alt="logo" style="height: 64px" src="{{ club.logo_url }}" >
            </a>
            {% endfor %}
        </div>
        {% empty %}
        <a href="#" class="list-group-item list-group-item-danger">No clubs are available.</a>
        {% endfor %}
    </div>

{% endblock %}