{% extends "data/base_club.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block active_team %}active{% endblock %}

{% block specific %}
<div class="alert alert-info" role="alert">
    <strong><i class="fa fa-info-circle"></i> Atention!</strong>
    <ul>
        <li>If a player leaves the club during the regular season, <b>do not remove her</b> from the team. Use the departure month field instead.</li>
        <li>Images have a size limit of <b>50KB</b> and should not be wider than <b>300px</b>.</li>
    </ul>
</div>
<h3 class="page-header">Editing the {{ year }}/{{ year|add:"1" }} season</h3>
<form id="teamEditForm" method="post" enctype="multipart/form-data">
    {% crispy formset formset.form.helper %}
    <div class="form-actions">
        <input name="submit" value="Submit changes" class="btn btn-primary" id="submit-id-submit" type="submit">
        <a href="{% url 'data:club_team' pk=club.id %}?season={{ request.GET.season }}" class="btn btn-default">Cancel</a>
    </div>
</form>
{% endblock %}

{% block extra_script %}
<script src="{% static "js/jquery.formset.js" %}"></script>
<script type="text/javascript">
    $(function() {
        $('#teamEditForm_table tbody tr').formset({
            keepFieldValues: 'input:hidden',
            added: function(row) {
                var txt = row.find('input.select-player');
                // Calling "makeSelect2Player" adds a brand-new set of handlers:
                makeSelect2Player(txt);
            }
        });
    });
</script>
{% endblock %}