{% extends "data/base_club.html" %}

{% block active_team %}active{% endblock %}

{% block specific %}
<div class="well well-sm">
    <ul class="list-inline">
    {% for season in seasons reversed %}
        <li><a href="?season={{ season.year_from }}">{{ season.name }}</a></li>
    {% endfor %}
    </ul>
</div>
<div class="row">
    <div class="col-md-9">
    
        <h4><i>Showing team for the <b>
        {% if request.GET.season %} {{ request.GET.season }}/{{ request.GET.season|add:"1" }}
        {% else %} current{% endif %}</b> season.</i></h4>
        <hr>
        <div class="row">
        {% for player in staff_list %}
            <div class="col-xs-6 col-sm-3">
                <a href="{{ player.player.get_absolute_url }}" class="th-card">
                    <div class="text-center">
                        <img class="th-card-poster" src="{{ player.player.photo_url }}" alt="photo">
                    </div>
                    <div class="th-card-div">
                        <h5 class="th-card-heading"><b>{{ player.player.last_name }}</b>, {{ player.player.first_name }}</h5>
                        <small class="text-info th-card-body">#{{ player.shirt_number }}. {{ player.player.get_position_display }}, {{ player.player.country }}</small>
                        <div class="th-card-btn">
                            <form class="list_follow" action="{% url 'data:player_love' player.player.id %}" method="post">
                                {% with item=player.player %}
                                {% include "data/list_love.html" %}
                                {% endwith %}
                            </form>
                        </div>
                    </div>
                </a>
            </div>
            {% if forloop.counter|divisibleby:4 %}
        </div>
        <div class="row">
            {% elif forloop.counter|divisibleby:2 %}
        <div class="clearfix visible-xs"></div>
            {% endif %}
        {% empty %}
            <div class="alert alert-warning" role="alert">
                <h4><i class="fa fa-warning"></i> Warning!</h4> No players found for the selected season.
            </div>
        {% endfor %}
        </div>

        <div class="row">
        {% for coach in coach_list %}              
            <div class="col-xs-6 col-sm-3">
                <a href="{{ coach.coach.get_absolute_url }}" class="th-card">
                    <div class="text-center">
                        <img class="th-card-poster" src="{{ coach.coach.photo_url }}" alt="photo">
                    </div>
                    <div class="th-card-div">
                        <h5 class="th-card-heading"><b>{{ coach.coach.last_name }}</b>, {{ coach.coach.first_name }}</h5>
                        <small class="text-info th-card-body">{{ coach.get_role_display }}, {{ coach.coach.country }}</small>
                    </div>
                </a>
            </div>
            {% if forloop.counter|divisibleby:4 %}
        </div>
        <div class="row">
            {% elif forloop.counter|divisibleby:2 %}
        <div class="clearfix visible-xs"></div>
            {% endif %}
        {% empty %}
            <div class="alert alert-warning" role="alert">
            <h4><i class="fa fa-warning"></i> Warning!</h4>
            No coaches found for the selected season.
            </div>
        {% endfor %}
        </div>

    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
        <div class="panel-body">
            <p class="text-warning"><i class="fa fa-warning"></i> <small>Season statistics are gathered <b>exclusively</b> from data recorded on TopHandball.</small></p>
          </div>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th><abbr title="Goals"><i class="fa fa-bullseye" ></i></abbr></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Test Player Name</td>
                    <td>33</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Test Player Name</td>
                    <td>33</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Test Player Name</td>
                    <td>33</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Test Player Name</td>
                    <td>33</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Test Player Name</td>
                    <td>33</td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>
{% endblock %}