{% extends "data/base_club.html" %}
{% load bootstrap %}

{% block active_team %}active{% endblock %}

{% block specific %}
    <h4><i>Adding player for the <b>
    {% if request.GET.season %} {{ request.GET.season }}/{{ request.GET.season|add:"1" }}
    {% else %} current{% endif %}</b> season.</i>
    </h4>
    <hr>
    <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
        {{ form|bootstrap }}
        <hr>
        <input type="submit" value="Add player" class="btn btn-danger btn-lg center-block" />
    </form>
{% endblock %}
