<form action="{% url 'data:club_love' club.id %}" method="post" id="follow_form">
    {% csrf_token %}
{% if fan %}
    <input type="hidden" name="choice" id="choice" value="unfollow" />
    <button id="submit_follow" type="submit" class="btn btn-default btn-sm" >
        <span id="icon" class="unfollow"></span> Unfollow <small>({{ fan_count }} fans)</small>
    </button>
{% else %}
    <input type="hidden" name="choice" id="choice" value="follow" />
    <button id="submit_follow" type="submit" class="btn btn-default btn-sm">
        <span id="icon" class="follow"></span> Follow <small>({{ fan_count }} fans)</small>
    </button>
{% endif %}
</form>