{% extends "base.html" %}
{% block title %}Club index{% endblock %}
{% block active_club %}active{% endblock %}

{% block over_content %}
<div class="jumbotron th-masthead">
  <div class="container">
    <h1>Clubs</h1>
    <p>We currently have {{ club_count }} clubs in our database. You can search by club name or browse by country.</p>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-5 col-md-3">
        <form action="" method="get" id="search-form">
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" id="id_query" name="name" placeholder="Search here!">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </form>
        <p></p>
        <div id="search-results">
            {% include "data/club_search.html" %}
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-heart"></i> Popular Clubs</h3>
            </div>
            <div class="list-group media-list">
                {% for club in popular_list %}
                <a href="{{ club.get_absolute_url }}" class="list-group-item media">
                    <div class="pull-left">
                      <img class="media-object" src="{{ club.logo_url }}" alt="{{ club.name }}">
                    </div>
                    <div class="media-body">
                      <h5 class="list-group-item-heading">{{ club.name }}</h5> <small>{{ club.country }}</small>
                      <small class="pull-right red-card">{{ club.num_fans }} <i class="fa fa-heart"></i></small>
                    </div>
                </a>
                {% empty %}
                <a href="#" class="list-group-item">No popular clubs found.</a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-sm-7 col-md-8">
        <div class="well">
            <p class="lead">Country</p>
            <ul class="list-inline">
                <li><a href="."><b>Show all</b></a></li>
                {% for country in countries %}
                <li><a href="?country={{ country }}">{{ country }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% if request.GET.country %}
        <h4><i>Showing <b>{{ club_list|length }}</b> club{{ club_list|pluralize }} from {{ request.GET.country }}</i></h4>
        {% else %}
        <h4><i>Showing <b>all</b> clubs</i></h4>
        {% endif %}
        <hr>
        <div id="country_clubs">
            <div class="row">
            {% for item in club_list %}
                <div class="col-xs-6 col-md-3">
                    <a href="{{ item.get_absolute_url }}" class="th-card text-center">
                        <img class="th-card-poster" style="max-height: 100px;" src="{{ item.logo_url }}" alt="{{ item.name }}">
                        <div class="th-card-div">
                            <h5 class="th-card-heading"><b>{{ item.name }}</b></h5>
                            <small class="text-info th-card-body">{{ item.country }}</small>
                            <div class="th-card-btn">
                                <form class="list_follow" action="{% url 'data:club_love' item.id %}" method="post">
                                    {% include "data/list_love.html" %}
                                </form>
                            </div>
                        </div>
                    </a>
                </div>
                {% if forloop.counter|divisibleby:4 %}
                </div>
                <div class="row">
                {% elif forloop.counter|divisibleby:2 %}
                <div class="clearfix visible-sm visible-xs"></div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}