{% extends "data/base_club.html" %}
{% load th_extra %}

{% block active_team %}active{% endblock %}

{% block specific %}
<div class="well well-sm">
    <ul class="list-inline">
        <li><b>Seasons:</b></li>
        <li>{% if not request.GET.season %}Current{% else %}<a href=".">Current</a>{% endif %}</li>
    {% for season in seasons %}
        {% if request.GET.season|to_int == season.year_from %}
        <li>{{ season.name }}</li>
        {% else %}
        <li><a href="?season={{ season.year_from }}">{{ season.name }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
</div>
<div class="row">
    <div class="col-md-9">
        <div class="btn-group btn-group-sm" style="margin-bottom: 15px;">
          <a href="#" type="button" class="btn btn-default">
          <i class="fa fa-plus"></i> Add season</a>
          <a href="{% url 'data:club_team_edit' pk=club.id %}?season={{ request.GET.season }}" type="button" class="btn btn-default"><i class="fa fa-edit"></i> Edit team</a>
          <a href="#" type="button" class="btn btn-default"><i class="fa fa-exchange"></i> Transfers</a>
        </div>
        <div class="row">
        {% for contract in staff_list %}
            <div class="col-xs-6 col-sm-3">
                <a href="{{ contract.player.get_absolute_url }}" class="th-card">
                    <div class="text-center">
                        <img class="th-card-poster" src="{{ contract.photo_url }}" alt="photo">
                    </div>
                    <div class="th-card-div">
                        <h5 class="th-card-heading"><b>{{ contract.player.last_name }}</b>, {{ contract.player.first_name }}</h5>
                        <p class="text-muted th-card-body small">
                        {{ contract.player.birth_date|date:"d/m/Y" }} (age {{ contract.player.age }}), {{ contract.player.country }}
                        </p>
                        {% if contract.arrival_month %}
                        <span class="label label-success">Since {{ contract.get_arrival_month_display }}</span>
                        {% endif %}
                        {% if contract.departure_month %}
                        <span class="label label-danger">Until {{ contract.get_departure_month_display }}</span>
                        {% endif %}
                        <p class="text-info th-card-body small">
                        #{{ contract.shirt_number }}. {{ contract.player.get_position_display }}
                        </p>
                        <div class="th-card-btn">
                            <form class="list_follow" action="{% url 'data:player_love' contract.player.id %}" method="post">
                                {% with item=contract.player %}
                                {% include "data/_list_love.html" %}
                                {% endwith %}
                            </form>
                        </div>
                    </div>
                </a>
            </div>
            {% if forloop.counter|divisibleby:4 %}
        </div>
        <div class="row">
            {% elif forloop.counter|divisibleby:2 %}
        <div class="clearfix visible-xs"></div>
            {% endif %}
        {% empty %}
            <div class="col-md-12">
                <div class="alert alert-warning" role="alert">
                    <i class="fa fa-warning"></i> No players found for the selected season.
                </div>
            </div>
        {% endfor %}
        </div>

        <div class="row">
        {% for coach in coach_list %}              
            <div class="col-xs-6 col-sm-3">
                <a href="{{ coach.coach.get_absolute_url }}" class="th-card">
                    <div class="text-center">
                        <img class="th-card-poster" src="{{ coach.coach.photo_url }}" alt="photo">
                    </div>
                    <div class="th-card-div">
                        <h5 class="th-card-heading"><b>{{ coach.coach.last_name }}</b>, {{ coach.coach.first_name }}</h5>
                        <p class="text-muted th-card-body small">
                        {{ coach.coach.birth_date|date:"d/m/Y" }} (age {{ coach.coach.age }}), {{ coach.coach.country }}
                        </p>
                        <p class="text-info th-card-body small">{{ coach.get_role_display }}</p>
                    </div>
                </a>
            </div>
            {% if forloop.counter|divisibleby:4 %}
        </div>
        <div class="row">
            {% elif forloop.counter|divisibleby:2 %}
        <div class="clearfix visible-xs"></div>
            {% endif %}
        {% empty %}
            <div class="col-md-12">
                <div class="alert alert-warning" role="alert">
                    <i class="fa fa-warning"></i> No coaches found for the selected season.
                </div>
            </div>
        {% endfor %}
        </div>

    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
        <div class="panel-body">
            <span class="text-danger small"><i class="fa fa-warning"></i> Season statistics are gathered <b>exclusively</b> from data recorded on TopHandball.</span>
          </div>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th><abbr title="Goals"><i class="fa fa-bullseye"></i></abbr></th>
                    <th><abbr title="Yellow cards"><i class="fa fa-square yellow-card"></i></abbr></th>
                    <th><abbr title="Two minutes"><i class="fa fa-clock-o" ></i></abbr></th>
                    <th><abbr title="Red cards"><i class="fa fa-square red-card"></i></abbr></th>
                </tr>
            </thead>
            <tbody>
                {% for p in scorers_list %}
                <tr>
                    <td><a href="{{ p.get_absolute_url }}">{{ p.first_name|first }}. {{ p.last_name }}</a></td>
                    <td>{{ p.sum_goals }}</td>
                    <td>{{ p.yellows }}</td>
                    <td>{{ p.two_mins }}</td>
                    <td>{{ p.reds }}</td>
                </tr>
                {% empty %}
                <tr><td colspan="5" class="warning text-warning">No data found for the selected season.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>
{% endblock %}