{% extends "base.html" %}
{% load th_extra %}

{% block title %}Competition index{% endblock %}
{% block active_comp %}active{% endblock %}

{% block content %}
<div class="th-content">
  <div class="row">
    <div class="col-md-6">
      <h4>Upcoming matches</h4>
      <div class="list-group">
        {% for match in upcoming %}
          {% include "data/_match_list_item_compact.html" %}
        {% empty %}
        <div class="list-group-item list-group-item-warning">No matches found.</div>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-6">
      <h4>Latest matches</h4>
      <div class="list-group">
        {% for match in latest %}
          {% include "data/_match_list_item_compact.html" %}
        {% empty %}
        <div class="list-group-item list-group-item-warning">No matches found.</div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="th-content">
  {% for cat in categories %}
  <div class="row">
    <div class="col-md-12">
      <h3 class="th-section-header">{{ cat.name }}</h3>
      <div class="row">
      {% for item in cat.get_competitions.all %}
      <div class="col-xs-6 col-md-2">
        {% include "data/_comp_card.html" %}
      </div>
      {% if forloop.counter|divisibleby:6 %}
      </div>
      <div class="row">
      {% elif forloop.counter|divisibleby:2 %}
      <div class="clearfix visible-sm visible-xs"></div>
      {% endif %}
      {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}