{% extends "data/base_comp.html" %}
{% block active_seasons %}active{% endblock %}

{% block specific %}
<div class="th-content">
  <h3>Season {{ comp_season.season.name }}{% block section_name %}{% endblock %}</h3>
  <ul class="nav nav-tabs" role="tablist">
      <!-- <li id="overview"><a href="{{ comp_season.get_absolute_url }}">Overview</a></li> -->
      <li id="stages" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Stages <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
              {% for st in comp_season.stage_set.all %}
                  <li id="stage-{{ st.id }}"><a href="{{ st.get_absolute_url }}">{{ st.name }}</a></li>
              {% endfor %}
          </ul>
      </li>
      <li id="teams"><a href="{{ comp_season.get_teams_url }}">Teams</a></li>
      <li id="stats"><a href="{{ comp_season.get_stats_url }}">Statistics</a></li>
  </ul>
  {% block stage_detail %}
  {% endblock stage_detail %}
  </div>
{% endblock specific %}
