{% extends "data/base_comp.html" %}
{% block active_home %}active{% endblock %}

{% block specific %}
<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <small>
                    <strong>Short name:</strong> {{ competition.short_name }}<br>
                    <a href="{{ competition.website }}">Official website</a><br>
                    {% if competition.is_international %}
                    <strong>International</strong><br>
                    {% else %}
                    <strong>Country:</strong> {{ competition.country }}<br>
                    {% endif %}    
                    <strong>Level:</strong> {{ competition.level }}<br>
                    <hr>
                    <strong>Seasons:</strong>
                    <ul class="list-unstyled">
                    {% for cs in competition.competitionseason_set.all %}
                        <li>{{ cs.season.name }}</li>
                    {% empty %}
                        <li>No seasons found.</li>
                    {% endfor %}
                    </ul>
                    <hr>
                    <p><i class="fa fa-edit"></i> Is this information wrong or incomplete? You can fix it <a href="#">here</a>.</p>
                </small>
            </div>
        </div>
    </div>
</div>
{% endblock %}