{% extends "base.html" %}
{% load th_extra %}

{% block title %}Competition index{% endblock %}
{% block active_comp %}active{% endblock %}

{% block content %}
{% th_match_calendar %}
<div class="th-content">
  {% for cat in categories %}
  <div class="row">
    <div class="col-md-12">
      <h3 class="th-section-header">{{ cat.name }}</h3>
      <div class="row">
      {% for item in cat.get_competitions.all %}
      <div class="col-xs-6 col-md-2">
        {% include "data/_comp_card.html" %}
      </div>
      {% if forloop.counter|divisibleby:6 %}
      </div>
      <div class="row">
      {% elif forloop.counter|divisibleby:2 %}
      <div class="clearfix visible-sm visible-xs"></div>
      {% endif %}
      {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}