{% extends "data/base_player.html" %}

{% block specific %}

<div class="row">
    <div class="col-sm-6 col-md-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <small>
                    <strong>Country: </strong> {{ player.country }}<br>
                    <strong>Birth date:</strong> {{ player.birth_date|date:"d/m/Y" }} (age {{ player.age }})<br>
                    <strong>Birth place:</strong> {{ player.birth_place|default:"Unknown" }}<br>
                    <strong>Height:</strong> {{ player.height }} cm<br>
                    <hr>
                    <strong>Position:</strong> {{ player.get_position_display }}<br>
                    <strong>Main hand:</strong> {{ player.get_main_hand_display }}<br>
                    {% if cur_contract %}<strong>Current club:</strong> <a href="{{ cur_contract.club.get_absolute_url }}"> {{ cur_contract.club }}</a><br>{% endif %}
                    {% if player.retired %}<span class="label label-danger">Retired</span><br>{% endif %}
                    <hr>
                    {% if player.playername_set.all %}
                    <strong>Also credited as:</strong>
                    <ul class="list-unstyled">
                    {% for playername in player.playername_set.all %}
                        <li>{{ playername.full_name }}</li>
                    {% endfor %}
                    </ul>
                    <hr>
                    {% endif %}
                    <strong>Club career: </strong>
                    <ul class="list-unstyled">
                    {% for contract in club_career %}
                        <li>{{ contract.season.name }} - <a href="{{ contract.club.get_absolute_url }}">{{ contract.club.name }}</a>{% if contract.arrival_month %} (since {{ contract.get_arrival_month_display }}){% endif %}{% if contract.departure_month %} (until {{ contract.get_departure_month_display }}){% endif %}</li>
                    {% endfor %}
                    </ul>
                    <hr>
                    <p><i class="fa fa-edit"></i> Is this information wrong or incomplete? You can fix it <a href="{% url 'data:player_update' pk=player.id %}">here</a>.</p>
                </small>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Latest matches</h3>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Match</th>
                        {% if player.position == "GK" %}<th><abbr title="Saves"><i class="fa fa-life-ring" ></i></abbr></th>{% endif %}
                        <th><abbr title="Goals"><i class="fa fa-bullseye" ></i></abbr></th>
                        <th><abbr title="Yellow card">YC</abbr></th>
                        <th><abbr title="Two minutes">2'</abbr></th>
                        <th><abbr title="Red card">RC</abbr></th>
                    </tr>
                </thead>
                <tbody>
                    {% for ms in matches %}
                    <tr>
                        <td><small><strong>{{ ms.match_team.match.match_datetime|date:"d/m/Y H:i" }}</strong></small> <a href="{{ ms.match_team.match.home_team.get_absolute_url }}">{{ ms.match_team.match.home_team }}</a> vs <a href="{{ ms.match_team.match.away_team.get_absolute_url }}">{{ ms.match_team.match.away_team }}</a><br><small>{{ ms.match_team.match.group.stage.comp_season.competition.name }}, {{ ms.match_team.match.group.stage.name }}</small>
                        </td>
                        {% if player.position == "GK" %}
                        <td>{{ ms.saves|default_if_none:"?" }}{% if ms.saves_7m %} ({{ ms.saves_7m }}){% endif %}</td>
                        {% endif %}
                        <td>{{ ms.goals|default_if_none:"?" }}{% if ms.goals_7m %} ({{ ms.goals_7m }}){% endif %}</td>
                        <td>{% if ms.yellow_card %}<i class="fa fa-square yellow-card" ></i>{% else %}-{% endif %}</td>
                        <td>{% if ms.two_minutes > 0 %}{{ ms.two_minutes }}{% else %}-{% endif %}</td>
                        <td>{% if ms.red_card %}<i class="fa fa-square red-card" ></i>{% else %}-{% endif %}</td>
                    </tr>
                    {% empty %}
                    <tr><td colspan="{% if player.position == "GK" %}6{% else %}5{% endif %}">No matches found.</td></tr>
                    {% endfor %}
                    <tr class="info"><td colspan="{% if player.position == "GK" %}6{% else %}5{% endif %}" class="text-center"><a href="#">All matches</a></tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-group"></i> Current teammates</h3>
            </div>
            <div class="list-group media-list">
                {% for mate in teammates %}
                <a href="{{ mate.player.get_absolute_url }}" class="list-group-item media">
                    <div class="pull-left">
                      <img class="media-object" src="{{ mate.player.photo_url }}" alt="{{ mate.player.full_name }}">
                    </div>
                    <div class="media-body">
                      <h5 class="list-group-item-heading">{{ mate.player.full_name }}</h5>
                      <small>{{ mate.player.get_position_display }}</small>
                    </div>
                </a>
                {% empty %}
                <a href="#" class="list-group-item">No teammates found.</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}