{% extends "data/base_player.html" %}
{% load crispy_forms_tags %}
{% block active_matches %}active{% endblock %}
{% block specific %}

<div class="row">
    <div class="col-md-3">
        <div class="well">
            <form id="player-match-filter">
                {% crispy form %}
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Filter</button>
                    <a href="." class="btn btn-default">Clear Filters</a>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-8">
        <div id="macth-list">
            {% include "data/_player_match_list.html" %}
        </div>
    </div>
</div>
{% endblock %}
{% block extra_script %}
<script type="text/javascript">
    $('#id_season, #id_competition, #id_club').on("change", filterPlayerMatches);
</script>
{% endblock %}v