{% extends "base.html" %}
{% load th_extra crispy_forms_tags %}

{% block title %}Player index{% endblock %}
{% block active_player %}active{% endblock %}

{% block over_content %}
<div class="jumbotron th-masthead th-masthead-image th-masthead-players">
  <div class="container">
    <h1>Players</h1>
    <p>We currently have {{ player_count }} players in our database. You can search by name or browse by country or playing position.</p>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="th-content">
<div class="row">
    <div class="col-sm-5 col-md-3">
        <div class="form-group">
            <input type="text" class="form-control input-lg select-player th-search-go" data-placeholder="Quick Search & Go!">
        </div>
        <div class="well">
            <form id="player-filter">
                {% crispy form %}
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Filter</button>
                    <a href="." class="btn btn-default">Clear Filters</a>
                </div>
            </form>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-heart"></i> Popular Players</h3>
            </div>
            <div class="list-group media-list">
                {% for player in popular_list %}
                {% include "data/_player_list_item.html" with item=player show_fans=True %}
                {% empty %}
                <a href="#" class="list-group-item">No popular players found.</a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-sm-7 col-md-9">
        {% if request.GET.country or request.GET.position or request.GET.first_name or request.GET.last_name %}
        <h4><i>Showing <b>{{ paginator.count }}</b> player{{ player_list|pluralize }}
        {% if request.GET.country %} from {{ request.GET.country|country_name }}{% endif %}
        {% if request.GET.first_name or request.GET.last_name %} matching {{ request.GET.first_name }} {{ request.GET.last_name }}{% endif %}
        </i></h4>
        {% else %}
        <h4><i>Showing <b>all</b> players</i></h4>
        {% endif %}
        <hr>
        <div id="player_display">
            {% include "data/_pagination.html" %}
            <div class="row">
                {% for item in player_list %}
                <div class="col-xs-6 col-md-3">
                    <a href="{{ item.get_absolute_url }}" class="th-card">
                    <div class="th-card-div">
                        <h5 class="th-card-heading"><b>{{ item.last_name }}</b></h5>
                        <p class="th-card-body">{{ item.first_name }}</p>
                        <small class="text-info th-card-body"><img src="{{ item.country.flag }}" title="{{ item.country.name }}"> {{ item.get_position_display }}</small>
                        <div class="th-card-btn">
                            <form class="list_follow" action="{% url 'data:player_love' item.id %}" method="post">
                                {% include "data/_list_love.html" %}
                            </form>
                        </div>
                    </div>
                    </a>
                </div>
                {% if forloop.counter|divisibleby:4 %}
                </div>
                <div class="row">
                {% elif forloop.counter|divisibleby:2 %}
                <div class="clearfix visible-sm visible-xs"></div>
                {% endif %}
                {% endfor %}
            </div>
            {% include "data/_pagination.html" %}
        </div>
    </div>
</div>
</div>
{% endblock %}