{% extends "base.html" %}
{% block title %}Player index{% endblock %}
{% block active_player %}active{% endblock %}

{% block over_content %}
<div class="jumbotron th-masthead">
  <div class="container">
    <h1>Players</h1>
    <p>We currently have {{ player_count }} players in our database. You can search by name or browse by country or playing position.</p>
  </div>
</div>
{% endblock %}

{% block content %}
{% if paginator %}
<ul class="pagination">
    <li class="{% if not page_obj.has_previous %}disabled{% endif %}"><a href="?page=1">&laquo;</a></li>
    {% for pnum in paginator.page_range %}
    <li class="{% if page_obj.number == pnum %}active{% endif %}"><a href="?page={{ pnum }}">{{ pnum }}</a></li>
    {% endfor %}
    <li class="{% if not page_obj.has_next %}disabled{% endif %}"><a href="?page=last">&raquo;</a></li>
</ul>
{% endif %}
<div class="row">
    <div class="col-md-3">
        <ul>
        {% for player in player_list %}
        <li><a href="{{ player.get_absolute_url }}">{{ player.last_name }}, {{ player.first_name }}</a></li>
        {% if forloop.counter|divisibleby:35 %}
        </ul>
    </div>
    <div class="col-md-3">
        <ul>
        {% endif%}
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
