{% extends "data/base_player.html" %}
{% load bootstrap %}
{% load staticfiles %}

{% block specific %}
    <form action="" method="post">
    	{% csrf_token %}
    	<div>
    		{{ form|bootstrap }}
    	</div>
        <fieldset>
            <legend>Contract</legend>
            {{ contract_form.management_form }}
            {{ contract_form.non_form_errors }}
            {% for form in contract_form %}
                {{ form.id }}
                <div class="inline {{ contract_form.prefix }}">
                    {{ form.club.errors }}
                    {{ form.club.label_tag }}
                    {{ form.club }}
                    {{ form.season.errors }}
                    {{ form.season.label_tag }}
                    {{ form.season }}
                    {{ form.shirt_number.errors }}
                    {{ form.shirt_number.label_tag }}
                    {{ form.shirt_number }}
                    {{ form.departure_month.errors }}
                    {{ form.departure_month.label_tag }}
                    {{ form.departure_month }}
                    {{ form.arrival_month.errors }}
                    {{ form.arrival_month.label_tag }}
                    {{ form.arrival_month }}
                </div>
            {% endfor %}
        </fieldset>
        <fieldset>
            <legend>Player name</legend>
            {{ names_form.management_form }}
            {{ names_form.non_form_errors }}
            {% for form in names_form %}
                {{ form.id }}
                <div class="inline {{ names_form.prefix }}">
                    {{ form.first_name.errors }}
                    {{ form.first_name.label_tag }}
                    {{ form.first_name }}
                    {{ form.last_name.errors }}
                    {{ form.last_name.label_tag }}
                    {{ form.last_name }}
                </div>
            {% endfor %}
        </fieldset>
        <input type="submit" value="Update" class="btn btn-danger" />
    </form>
{% endblock %}

{% block extra_script %}
<script src="{% static "js/jquery.formset.min.js" %}"></script>
<script type="text/javascript">
        $(function() {
            $(".inline.{{ contract_form.prefix }}").formset({
                prefix: "{{ contract_form.prefix }}",
            })
            $(".inline.{{ names_form.prefix }}").formset({
                prefix: "{{ names_form.prefix }}",
            })
        })
    </script>
{% endblock %}