{% extends "data/base_player.html" %}
{% load th_extra %}
{% block active_home %}active{% endblock %}
{% block specific %}

<div class="row">
    <div class="col-sm-6 col-md-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <small>
                    <strong>Country: </strong> {{ player.country.name }}<br>
                    <strong>Birth date:</strong> {{ player.birth_date|date:"d/m/Y" }} (age {{ player.age }})<br>
                    <strong>Birth place:</strong> {{ player.birth_place|default:"Unknown" }}<br>
                    <strong>Height:</strong> {{ player.height }} cm<br>
                    <hr>
                    <strong>Position:</strong> {{ player.get_position_display }}<br>
                    <strong>Main hand:</strong> {{ player.get_main_hand_display }}<br>
                    {% if cur_contract %}<strong>Current club:</strong> <a href="{{ cur_contract.club.get_absolute_url }}"> {{ cur_contract.club }}</a><br>{% endif %}
                    {% if player.retired %}<span class="label label-danger">Retired</span><br>{% endif %}
                    <hr>
                    {% if player.playername_set.all %}
                    <strong>Also credited as:</strong>
                    <ul class="list-unstyled">
                    {% for playername in player.playername_set.all %}
                        <li>{{ playername.full_name }}</li>
                    {% endfor %}
                    </ul>
                    <hr>
                    {% endif %}
                    <strong>Club career: </strong>
                    <ul class="list-unstyled">
                    {% for contract in club_career %}
                        <li>
                        <a href="{% url 'data:club_team' pk=contract.club.id %}?season={{ contract.season.year_from }}">{{ contract.season.name }}</a> - <a href="{{ contract.club.get_absolute_url }}">{{ contract.club.name }} <img src="{{ contract.club.country.flag }}" title="{{ contract.club.country.name }}"></a>{% if contract.arrival_month %} (since {{ contract.get_arrival_month_display }}){% endif %}{% if contract.departure_month %} (until {{ contract.get_departure_month_display }}){% endif %}
                        </li>
                    {% endfor %}
                    </ul>
                    <hr>
                    <p><i class="fa fa-edit"></i> Is this information wrong or incomplete? You can fix it <a href="{% url 'data:player_update' pk=player.id %}">here</a>.</p>
                </small>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        {% for contract in club_career %}
        <div class="media">
            <div class="media-left hidden-xs">
                <img class="img-person" src="{{ contract.career_photo_url }}" alt="Season photo">
            </div>
            <div class="media-body th-match-header media-top">
                <div class="th-match-logo" style="background-image: url('{{ contract.club.logo_url }}')"></div>
                <h4 class="media-heading">{{ contract.season.name }} &ndash; {{ contract.club.name }}
                {% if contract.arrival_month %}<small>(since {{ contract.get_arrival_month_display }})</small>{% endif %}{% if contract.departure_month %} <small>(until {{ contract.get_departure_month_display }})</small>{% endif %}</h4>
                <ul class="list-inline">
                    {% with stats=contract.get_stats %}
                    <li>{{ stats.num_matches }} {% th_icon_matches %}</li>
                    {% if player.position == "GK" %}<li>{{ stats.saves|default_if_none:"?" }} {% th_icon_saves %}</li>{% endif %}
                    <li>{{ stats.goals|default_if_none:"?" }} {% th_icon_goals %}</li>
                    <li>{{ stats.yellows|default_if_none:"?" }} {% th_icon_yellow %}</li>
                    <li>{{ stats.two_mins|default_if_none:"?" }} {% th_icon_two_mins %}</li>
                    <li>{{ stats.reds|default_if_none:"?" }} {% th_icon_red %}</li>
                    {% endwith %}
                </ul>
                <a class="btn btn-link" href="{% url 'data:club_team' pk=contract.club.id %}?season={{ contract.season.year_from }}"><i class="fa fa-group"></i> View team</a>
                <a class="btn btn-link" href="{% url 'data:player_matches' pk=player.id %}?season={{ contract.season.id }}&club={{ contract.club.id }}"><i class="fa fa-calendar"></i> View matches</a>
            </div>
        </div>
        {% if not forloop.last %}
        <hr>
        {% endif %}
        {% endfor %}
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-group"></i> Current teammates</h3>
            </div>
            <div class="list-group media-list">
                {% for mate in teammates %}
                {% include "data/_player_list_item.html" with item=mate.player %}
                {% empty %}
                <a href="#" class="list-group-item">No teammates found.</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}