{% extends "base.html" %}
{% block title %}Player index{% endblock %}
{% block active_player %}active{% endblock %}
{% block content %}
<div class="page-header">
    <h1>Players</h1>
</div>
{% if paginator %}
<ul class="pagination">
    <li class="{% if not page_obj.has_previous %}disabled{% endif %}"><a href="?page=1">&laquo;</a></li>
    {% for pnum in paginator.page_range %}
    <li class="{% if page_obj.number == pnum %}active{% endif %}"><a href="?page={{ pnum }}">{{ pnum }}</a></li>
    {% endfor %}
    <li class="{% if not page_obj.has_next %}disabled{% endif %}"><a href="?page=last">&raquo;</a></li>
</ul>
{% endif %}
<ul>
    {% for player in player_list %}
    <li><a href="{{ player.get_absolute_url }}">{{ player.last_name }}, {{ player.first_name }}</a></li>
    {% empty %}
    <li>No players found.</li>
    {% endfor %}
</ul>
{% endblock %}
