body {
    padding-bottom: 30px;
    margin-bottom: 50px;
    /*background-image: url('../img/881.png');*/
    background-color: #EEE;
}
html {
    position: relative;
    min-height: 100%;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
    background-color: #F9F9F9;
    border-top: 1px solid #E5E5E5;
    padding: 10px 0;
    text-align: center;
}
.th-content {
    padding: 10px;
    margin: 10px 0;
    background-color: #FFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}
#header-box {
    height: auto;
    position: relative;
}
#header-box h1 {
    padding: 10px;
}
#header-box h4 {
    margin-left: 10px;
}
#header-box ul {
    margin-left: 5px;
}
.img-logo {
    max-height: 120px;
    height: auto;
    margin: 1px;
    padding: 0;
    margin-left: 5px;
    max-width: 100%;
}
.img-person {
    max-height: 150px;
    width: auto;
    margin: 0;
    padding: 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 1px 1px 2px #ddd;
}
#map_canvas {
    width: auto;
    height: 200px;
}
.big-map {
    width: auto;
    height: 640px;
}
.form-signin {
    max-width: 330px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    /*  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;*/
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    /*  border-top-left-radius: 0;
  border-top-right-radius: 0;*/
}
.media-list {
    /*max-height: 410px;
    overflow-y:scroll;*/
}
.media-list img {
    max-height: 60px;
    max-width: 60px;
}
.media-list .media {
    margin-top: 0;
}
.media-object-bordered {
    border: 1px solid #ddd;
}
.th-media-fans {
    position: absolute;
    bottom: 10px;
    right: 5px;
}
.yellow-card {
    color: #FFD700;
}
.red-card {
    color: #E50000;
}
.navbar-brand {
    font-family:'Patua One';
}
.brand {
    color: #FF7920;
}
.jumbotron {
    margin-top: -20px;
}
.th-masthead {
    color: rgba(55, 55, 55, 1);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    margin-top: -20px;
}
.th-masthead-image {
    background-size: cover;
    background-position: center center;
}
.th-masthead-image .container {
    background-color: rgba(255, 255, 255, 0.8);
}
.th-masthead-clubs {
    background-image: url('../img/fans.jpg')
}
.th-masthead-players {
    background-image: url('../img/players.jpg')
}
.th-masthead-comps {
    background-image: url('../img/screen.jpg')
}
.th-card {
    color: #333;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 1px 1px 2px #ddd;
    display: block;
    line-height: 1.42857;
    margin-bottom: 20px;
    /*padding: 4px;*/
    transition: all 0.2s ease-in-out 0s;
}
a.th-card:focus, a.th-card:hover {
    background-color: #f5f5f5;
    text-decoration: none;
    color: #333;
}
.th-card p {
    margin-top: 5px;
}
.th-card-img {
    position: relative;
    text-align: center;
}
.th-card-img-overlay {
    position: absolute;
    bottom: 15px;
    right: 4px;
}
.th-card-poster-center {
    max-height: 100px;
    padding: 4px;
}
.th-card-wide-poster {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.th-card-poster {
    height: auto;
    max-width: 100%;
    margin-bottom: 10px;
}
.th-card-heading {
    margin-bottom: 5px;
    margin-top: 0;
    color: #333;
}
.th-card-body {
    margin-bottom: 5px;
}
.th-card-div {
    position: relative;
    margin: 4px;
    padding: 0 4px;
}
.th-card-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: -4px;
}
.pagination-index {
    margin: 0 0 10px;
}
.btn-love {
    color: #E50000;
}
.file-preview-image {
    width: 100%;
    height: auto;
}
.th-flag {
    vertical-align: baseline;
}
.navbar-custom {
   background-color: #FFF;
   box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}
.th-match-logo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.1;
    z-index: -1;
}
.th-match-header {
    position: relative;
    z-index: 1;
}
.th-match-header .page-header {
    border-bottom: 0;
}
.th-winner {
    /*color: #3C763D;*/
    font-weight: 700;
}
.th-section-header {
    padding: 10px;
    background-color: #D9EDF7;
}
.cookie-law {
    margin-bottom: 0;
}