body {
    padding-top: 70px;
    padding-bottom: 30px;
    margin-bottom: 80px;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

#header {
    margin-bottom: 10px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 80px;
    background-color: #F9F9F9;
    border-top: 1px solid #E5E5E5;
    padding: 10px 0;
    text-align: center;
}

#map_canvas {
    width: auto;
    height: 200px;
}

.img-logo {
    max-height: 200px;
    max-width: 200px;
    display: inline-block;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}

.img-person {
    width: 160px;
    height: 200px;
}

.affix {
  width: inherit;
  top: 50px;
}

.affix-bottom {
  width: inherit;
  position: absolute;
  top: auto;
  bottom: 80px; 
}

.affix-top {
  
}