{% load staticfiles %}
{% load account %}
<!DOCTYPE html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns# {% block extra_head_prefix %}{% endblock %}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}TopHandball{% endblock %}</title>
    <link rel="apple-touch-icon" sizes="57x57" href="{% static "favicon/apple-icon-57x57.png" %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static "favicon/apple-icon-60x60.png" %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "favicon/apple-icon-72x72.png" %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static "favicon/apple-icon-76x76.png" %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "favicon/apple-icon-114x114.png" %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static "favicon/apple-icon-120x120.png" %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static "favicon/apple-icon-144x144.png" %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static "favicon/apple-icon-152x152.png" %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "favicon/apple-icon-180x180.png" %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static "favicon/android-icon-192x192.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "favicon/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static "favicon/favicon-96x96.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "favicon/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "favicon/manifest.json" %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static "favicon/ms-icon-144x144.png" %}">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Patua+One&text=TopHandball' type='text/css'>
    <link rel='stylesheet' href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static "css/bootstrap-social.css" %}">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2.min.css">
    <link rel="stylesheet" href="{% static "css/select2-bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "css/fileinput.min.css" %}" type="text/css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/plug-ins/9dcbecd42ad/integration/bootstrap/3/dataTables.bootstrap.css" type="text/css">
    {% block extra_head %} {% endblock %}
    <link rel="stylesheet" href="{% static "css/theme.css" %}">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <meta property="og:site_name" content="TopHandball" />
    <meta property="fb:app_id" content="834564863259996" />
    {% block head_meta %} {% endblock %}
  </head>
  <body>
    <a href="#content" class="sr-only">Skip to main content</a>
    <header>
  	<!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-custom navbar-static-top" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><strong class="brand">Top</strong>Handball</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="{% block active_club %}{% endblock %}"><a href="{% url 'data:club_index' %}"><i class="fa fa-group"></i> Clubs</a></li>
            <li class="{% block active_player %}{% endblock %}"><a href="{% url 'data:player_index' %}"><i class="fa fa-female"></i> Players</a></li>
            <li class="{% block active_comp %}{% endblock %}"><a href="{% url 'data:comp_index' %}"><i class="fa fa-trophy"></i> Competitions</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if request.user.is_authenticated %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ request.user.email }} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'profile:index' %}">Dashboard</a></li>
                <li class="{% block active_user %}{% endblock %}"><a href="{% url 'account_email' %}">My Account</a></li>
                {% if request.user.is_staff %}
                <li><a href="/admin/">Administration</a></li>
                {% endif %}
                <li class="divider"></li>
                <li><a href="{% url 'account_logout' %}"><i class="fa fa-fw fa-sign-out"></i> Sign out</a></li>
              </ul>
            </li>
            {% else %}
            <li><a href="{% url 'account_login' %}"><i class="fa fa-fw fa-sign-in"></i> Sign in</a></li>
            {% endif %}
          </ul>
          <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
              <input type="text" class="form-control select-search th-search-go" placeholder="Quick Search & Go!">
            </div>
          </form>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    </header>
    {% block over_content %}
    {% endblock %}

    <!-- Begin page content -->
    <div class="container">

      {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          {{ message }}
        </div>
      {% endfor %}

      {% block content %}
      {% endblock %}
    </div>

    <footer>
      <div class="container">
        <div class="pull-left">
          <p class="text-muted"><small>TopHandball &copy; Leticia Hernández Urigüen. | <a href="{% url 'about' %}">About Us</a> | <a href="{% url 'privacy' %}">Privacy Policy</a> | <a href="{% url 'tos' %}">Terms of Service</a></small></p>
        </div>
        <div class="pull-right">
          <p><small><a href="#">Back to top <i class="fa fa-angle-double-up"></i></a></small></p>
        </div>
      </div>
    </footer>
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2.min.js"></script>
    <script src="{% static "js/fileinput.min.js" %}"></script>
    <script src="{% static "js/eu_cookie_banner.js" %}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
    <script src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/plug-ins/9dcbecd42ad/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script src="{% static "js/custom.js" %}"></script>
    {% block extra_script %}{% endblock %}
  </body>
</html>
